project:
  type: website

website:
  title: "Take a look around"
  navbar: 
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    css: mystyle.css
