project:
  type: website

website:
  title: "Guarda ho fatto anche la tendina"
  navbar: 
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    css: mystyle.css
