body {
  font-family: "Baskerville", Georgia, serif;
}


.navbar {
  background-color: #D10000 !important;
}

.navbar a.nav-link {
  color: white !important;
}

#profile-pic-container {
  float: left;
  margin-right: 20px;
}

#profile-text {
  float: right;
  font-family: "Baskerville", Georgia, serif;
  line-height: 1.5;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #D10000;
  background-color: #D10000;
  display: block;
  object-position: center -35px;
}

